// HERE ARE GLOBAL STYLES

.color-mode-wrap {
  --color-background: white;
  --color-text: black;

  --color-primary: rgb(32, 184, 120);
  --color-secondary: black;

  --color-success: rgb(0, 224, 101);
  --color-error: rgb(255, 0, 106);
  --color-warning: rgb(255, 153, 0);

  --color-accent-1: rgb(86, 255, 199);
  --color-accent-2: rgb(41, 147, 189);
  --color-accent-3: rgb(255, 0, 119);
  --color-accent-4: rgb(132, 0, 255);
  --color-accent-5: rgb(0, 255, 157);

  --color-nav-bg: black;
  --color-nav-buttons: rgb(41, 41, 41);
  --box-shadow-medium: 0 1px 4px 1px rgba(0, 0, 0, 0.158);
  --box-shadow-big: 0 1px 8px 1px rgba(0, 0, 0, 0.219);
  --gray-light: rgb(247, 247, 247);
  --gray-medium: rgb(207, 207, 207);

  &.dark {
    --color-background: rgb(41, 41, 41);
    --color-text: rgb(231, 231, 231);
    --box-shadow-medium: 0 0px 6px 1px rgba(184, 184, 184, 0.281);
    --box-shadow-big: 0 1px 8px 1px rgba(194, 194, 194, 0.219);
    --gray-light: rgb(61, 61, 61);
    --gray-medium: rgb(94, 94, 94);

    button {
      img {
        filter: invert(100%);
      }
    }
  }

  min-height: 100vh;
  background-color: var(--color-background);
}

body {
  margin: 0px;
}

button {
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
}

textarea {
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
}

* {
  box-sizing: border-box;
  color: var(--color-text);
  font-family: "Roboto", sans-serif;
}

.activated-route {
  pointer-events: none;
  filter: opacity(0.5);
}

a {
  text-decoration: none;
}
